<a href="tracks/new">Add a track!</a>
<% @tracks.each do |track| %>
  <div class="track">
    <h3>
      <a href="/tracks/<%= track.id %>"<small><%= track.title %></small></a>

      <p>By: <%= track.author %></p>
    </h3>
  </div>
<% end %>